<marquee scrollamount="20"> <img src="http://jabajabba.com/wp-content/uploads/2016/02/welcome-to-johnstown-2.jpg" alt="Welcome to Jonestown" width="50%" /></marquee>
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
